html,
body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*- - - - - - -INTRO - - - - - -*/
#intro{
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size:cover;
    margin-bottom: 3%;
    text-align: center;
    overflow:hidden;
}
#intro h1{
    color: white;
    padding: 15% 25% 5% 25%;
}

#intro a{
    display: block;
    border: 2px solid white;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    width: 120px;
    margin: 0 auto 4% auto;
    text-transform: uppercase;
    padding: 10px;
    color: white;
}

    #intro a:hover{
        background: white;
        color: black;
        text-decoration: none;
    }

/*- - - - - - -ABOUT - - - - - -*/
#about{
    text-align: center;
    padding: 2%;
    background: #f2f2f2;
}

    #about h3{
        margin: 3%;
    }

    #about h3:after{
        content: "";
        display: block;
        height: 1px;
        width: 200px;
        margin: 10px auto;
        background: darkgrey;
    }

    #about img{
        width: 320px;
        height: 240px;
    }

    #about article{
        margin: auto;
    }

    #about p{
        width: 320px;
        text-align: justify;
        text-align-last: center;
    }

    #about .post{
        display: inline-block;
        padding: 3%;
        text-align: left;
    }

    #about h6{
        font-size: 16px;
        padding: 10px 0 5px 0;
    }


    /*- -- - - - - - - - - SEC_INTRO - - - - - - - - -*/
#sec-intro{
    background-image: url(img/background2.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size:cover;
    padding: 10% 25% 5% 25%;
    text-align: center;
}

    #sec-intro h2{
        color: white;
    }

    #sec-intro a{
        display: block;
        border: 2px solid white;
        -webkit-border-radius: 9px;
        -moz-border-radius: 9px;
        border-radius: 9px;
        width: 120px;
        margin: 7% auto 4% auto;
        text-transform: uppercase;
        padding: 10px;
        color: white;
    }

    #sec-intro a:hover{
        background: white;
        color: black;
        text-decoration: none;
    }


/*- - -- - - - - - - - -WORKS - - - - - - - */
#works{
    text-align: center;
    padding: 2%;
    background: #f2f2f2;
}

    #works h3{
        margin: 3%;
    }

    #works h3:after{
        content: "";
        display: block;
        height: 1px;
        width: 170px;
        margin: 10px auto;
        background: darkgrey;
    }

    #works .pic{
        width: 330px;
        text-align: center;
        display: inline-block;
        padding: 2%;
        margin: auto;
    }
    
    #works img{
        width: 300px;
        height: 200px;
    }

    #works h6{
        display: block;
        text-transform: uppercase;
        padding: 5%;
    }

    #works h6:after{
        content: '  ♡';
        font-size: 25px;
    }

    #works h6:hover:after{
        color: red;
        cursor: pointer;
    }

    #works a{
        text-transform: uppercase;
        display: block;
        width: 200px;
        color: #fff;
        letter-spacing: 1px;
        border: 1px solid #74c9be;
        background: #74c9be;
        padding: 7px;
        margin: 20px auto; /*nie działa chujstwo*/
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }

    #works a:hover{
        border: 1px solid #000;
        background: inherit;
        color: #000;
        text-decoration: none;
    }

/*- - - - - - - - - - - - WORK PROCESS - - - - - -- - - - - */
#work-process{
    background: #333;
    color: #fff;
}

    #work-process h3:after{
        content: "";
        display: block;
        height: 1px;
        width: 180px;
        margin: 10px auto;
        background: darkgrey;
    }

    #work-process h3{
        padding-top: 2%;
        text-align: center;
    }

    #work-process p{
        width: 60%;
        padding: 3%;
        margin: auto;
    }



/*- - - - - - - - - - - - - - BRANDS & CLIENTS- - - - - - - - */
#brands{
    text-align: center;
}

    #brands h3{
        margin: 3%;
    }


    #brands h3:after{
        content: "";
        display: block;
        height: 1px;
        width: 160px;
        margin: 10px auto;
        background: darkgrey;
}

    #brands img{
        margin: 2%;
    }















@media (max-width: 750px){
    #intro h1{
        padding: 5%;
    }

    /*#main a,*/
    /*#third a{*/
        /*width: 40%;*/
        /*margin: 9% auto;*/
    /*}*/

    #about h3:after{
        width: 70%;
    }

    #works .pic{
        width: 90%;
        margin: auto;
    }

    #work-process p{
        width: 90%;
        margin: auto;
    }

}