html,
body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*- - - - - - -MAIN - - - - - -*/
#main{
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size:cover;
    margin-bottom: 3%;
    text-align: center;
    overflow:hidden;
}
#main h1{
    color: white;
    padding: 15% 25% 5% 25%;
}

#main a{
    display: block;
    border: 2px solid white;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    width: 9%;
    margin: 0 auto 4% auto;
    text-transform: uppercase;
    padding: .4%;
    color: white;
}

    #main a:hover{
        background: white;
        color: black;
        text-decoration: none;
    }

/*- - - - - - -SEC - - - - - -*/
#sec{
    text-align: center;
    padding: 2%;
    background: #f2f2f2;
}

    #sec h3{
        margin: 3%;
    }

    #sec h3:after{
        content: "";
        display: block;
        height: 1px;
        width: 30%;
        margin: 10px auto;
        background: darkgrey;
    }

    #sec img{
        width: 300px;
        height: 250px;
        margin: 1%;
    }

    #sec article{
        margin: auto;
    }

    #sec p{
        width: 250px;
        /*margin: 15px auto;*/
    }

    #sec .post{
        display: inline-block;
        margin: auto;
        text-align: left;
    }

    #sec h6{
        font-size: 16px;
        padding: 10px 0 5px 0;
    }


    /*- -- - - - - - - - - THIRD - - - - - - - - -*/
#third{
    background-image: url(img/background2.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size:cover;
    padding: 10% 25% 5% 25%;
    text-align: center;
}

    #third h2{
        color: white;

    }

    #third a{
        display: block;
        border: 2px solid white;
        -webkit-border-radius: 9px;
        -moz-border-radius: 9px;
        border-radius: 9px;
        width: 20%;
        margin: 7% auto 4% auto;
        text-transform: uppercase;
        padding: .4%;
        color: white;
    }

    #third a:hover{
        background: white;
        color: black;
        text-decoration: none;
    }


/*- - -- - - - - - - - -FOURTH - - - - - - - */
#fourth{
    text-align: center;
    padding: 2%;
    background: #f2f2f2;
}

    #fourth h3{
        margin: 3%;
    }

    #fourth h3:after{
        content: "";
        display: block;
        height: 1px;
        width: 30%;
        margin: 10px auto;
        background: darkgrey;
    }

    #fourth img{
        display: inline;
        width: 320px;
        height: 213px;
        }












@media (max-width: 750px){
    #main h1{
        padding: 5%;
    }

    #main a,
    #third a{
        width: 40%;
        margin: 9% auto;
    }

    #sec h3:after{
        width: 70%;
    }
}